<div class="container">
  <% @acupoints.each do |acupoint| %>
    <%= acupoint.name %>
  <% end %>
  <div data-controller="threejs" data-threejs-scene-path-value="<%= asset_url('scene.gltf')%>"></div>
  <%= render 'shared/navbar' %>
</div>
