<div class="search-list">
  <ul>
    <% @symptoms.each do |symptom| %>
       <%= link_to symptom_path(symptom) do %>
        <li><%= symptom.name %></li>
       <% end %>
    <% end %>
  </ul>
</div>
