<div class="container" data-modal-target="container" data-action="click->modal#close">
  <div class="head-fixed">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    <% end %>
      <h1> Carte </h1>
  </div>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
