<div class="btn-up"
    id="marge"
    data-controller="button-up"
    data-button-up-target="icon"
    data-action="click->button-up#scrollUp">
  <i class="fa-solid fa-arrow-up fa-3x"></i>
</div>

<%# <script>const btn = document.querySelector('.btn-up');

btn.addEventListener('click', () => {
    window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth",
    },)

})</script> %>
