<div class="button-large">
  <%= link_to 'Voir les point (non fonctionnel)', symptom_acupoint_treatments_path(@symptom), class: "btn-a" %>
  <%# <a href="" class="btn-a">Enregistrer ce point</a> %>
</div>
