 <div class="card-acupoint-wt-frame">
    <div class="frame">
      <div class="frame-content">
        <span>2</span>
      </div>
    </div>
    <div class="point-general-container">
      <div class="card-acupoint">
        <h3>Huiles essentielles</h3>

        <p>Entre le nom d'une Huile Essentielle pour accéder à sa description ainsi qu'à ces différents bienfait.</p>

      </div>
    </div>
</div>
