 <div class="card-acupoint-wt-frame">
    <div class="frame">
      <div class="frame-content">
        <span>1</span>
      </div>
    </div>
    <div class="point-general-container">
      <div class="card-acupoint">
        <h3>Symptôme courant</h3>
        <p>Entre un symptôme dans la barre de recherche et tu trouveras des solutions
        naturelles pour soulager des gênes du quotidien.</p>
      </div>
    </div>
</div>
