 <div class="card-acupoint-wt-frame">
    <div class="frame">
      <div class="frame-content">
        <span>2</span>
      </div>
    </div>
    <div class="point-general-container">
      <div class="card-acupoint">
        <h3> Acupression et Huiles Essentielles</h3>

        <p>Mediless met à disposition deux types de solutions naturelles pour aller mieux</p>

      </div>
    </div>
</div>
