
<div class="content">
  <img src="eucalyptus-citronne-huile-essentielle-bio.jpeg" id="image" alt="">
  <div class="content-text">
    <h1>Menthe poivrée</h1>
    <p>Posologie nananinana nananinananades. Posologie nananinana nananinananades.</p>
    <a href="#">Voir plus</a>
  </div>
</div>
