 <div class="card-acupoint-wt-frame">
    <div class="frame">
      <div class="frame-content">
        <span>1</span>
      </div>
    </div>
    <div class="point-general-container">
      <div class="card-acupoint">
        <h3>Symptômes courants</h3>
        <p>Mediless répond à des symptômes de la vie quotidienne par des solutions issues de la médecine chinoise et de l'aromathérapie </p>
      </div>
    </div>
</div>
