<div class="description">
  <div class="icon-add">
    <i class="fa-solid fa-comment-dots"></i>
    <h3>Description</h3>
  </div>
  <p>Mediless te propose des solutions naturelles pour soulager des
  sympotmes courant. Tu as des mauw de tête? Trouve la solution naturelle que te convient !</p>
</div>
