
  <div class="" data-controller="search-input">
      <input type="text" class="form-control" placeholder="Find symptom"
             data-search-input-target="input"
             data-action="input->search-input#research">
      <div data-search-input-target="list"></div>
  </div>
