<div class="form-input" data-controller="search-input">
    <input type="text" class="form-control" placeholder="Grippe, Bronchite, Maux de tête..."
            data-search-input-target="input"
            data-action="input->search-input#research" id="name">
    <div data-search-input-target="list"></div>
</div>
