.background-content {
  background-color: #EDF8F1;
  height: auto;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
