.form-input {
  width: 90%;
  // position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #C8E9D6;
  padding: 0;
}

#name {
  padding-left: 15px;
  height: 49px;
  width: 100%;
  margin: 0 auto;
  font-size: 0.875rem;
  border-radius: 8px;
  background-color: transparent;
  width: 100%;
  border: none;
  color: black;
  font-weight: 200;
  outline: none;
  text-align: left;
}
