.modale {
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999;
  position: fixed;
  left:50%;
  width: 100px;
  height: 200px;
  background-color: aquamarine;
  .hidden {
    display: none;
  }
}
