// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

.container {
  height: auto;
  margin: 0px auto;
  // text-align: center;
  width: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding-bottom: 160px;
  padding-top: 60px;
  // background-color: gray;
}

#margin-top {
  padding-top: 10px;
}

body {
  background-color: white;
  scroll-behavior: smooth;
}

body p {
  color: black;
  font-size: 0.9rem;

  width: 90%;
}

body h1 {
  color: black;
  font-size: 2rem;
}

body h2 {
  color: black;
  font-size: 1,5rem;

}

body h3 {
  color: black;
  font-size: 1,25rem;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}
